body, html {
    height: 100%;
    margin: 0;
    font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.section-padding {
    padding: 60px 0;
}

.marb-35 {
    margin-bottom: 35px;
}

.header-h {
    font-size: 35px;
    color: #FFB03B;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}

.header-p {
    color: #9699a6;
    font-size: 16px;
}

#menu-filters ul {
    margin-bottom: 40px;
}

#menu-filters ul li {
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#menu-filters ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 0;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

#menu-filters ul li a.active,
#menu-filters ul li a:hover {
    background: #FFB03B;
    color: #FFF;
    border: 1px solid #FFB03B;
}

.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.menu-restaurant {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.menu-title {
    font-family: 'Montserrat', 'arial';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff5821;
    display: block;
    margin-bottom: 10px;
}

.menu-line {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px dotted rgba(0,0,0,.3);
    width: 80%;
}

.menu-price {
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-subtitle {
    color: #B1B1B1;
    font-size: 14px;
    display: block;
}
